@using HardwareReservationAndAccountingSystem.Models
@using HardwareReservationAndAccountingSystem.ViewModels
@model EquipmentsMain

@{
    ViewBag.Title = "Įranga";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageHeaderTitle {
    <h2>Įranga</h2>
}

@section PageHeaderSubNavLinks {
    <ul>
        <li class="active">@Html.ActionLink("Visa įranga", "Index", "Equipments")</li>
        <li><a href="#" data-toggle="modal" data-target="#newEquipmentModal">Nauja įranga</a></li>
    </ul>
}

@section PageHeaderFilters {
    <div class="page-filters">
        <input type="text" placeholder="Filtruoti duomenis" class="form-control filter-by-text" />
        <div class="grid-options">
            <i class="fas fa-th-large"></i>
            <i class="fas fa-th-list"></i>
        </div>
        <div class="equipment-types">
            @foreach (var type in Model.EquipmentTypes)
            {
                <span style="border-left: 5px solid @type.Color">@type.Title</span>
            }
        </div>
    </div>
}

<div class="row">
    @if (Model.Equipments.Any())
    {
        foreach (var equipment in Model.Equipments)
        {
            <div class="col-md-12 add-margin">
                <div class="content-block list-view equipment" data-equipmentType="@equipment.EquipmentType.Title" style="border-left: 5px solid @equipment.EquipmentType.Color">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="heading">
                                <p>@equipment.Title</p>
                            </div>
                            <div class="description">
                                <p>@equipment.Description</p>
                            </div>
                        </div>
                        <div class="col-md-2 options">
                            @*<a href="#" class="btn btn-secondary">Žiūrėti</a>*@
                            
                            <div class="dropdown">
                                <a class="btn btn-secondary more-options dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editEquipmentModalLabel-@equipment.Id">Atnaujinti</a>
                                    @*<a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="col-md-12 add-margin">
            <div class="content-block empty-content">
                <p>Šiuo metu nėra pridėtos jokios įrangos.</p>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="newEquipmentModal" tabindex="-1" role="dialog" aria-labelledby="newEquipmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @{
                var model = new EquipmentForm
                {
                    Equipment = new Equipment(),
                    EquipmentTypes = Model.EquipmentTypes
                };
            }
            @Html.Partial("EquipmentForm", model)
        </div>
    </div>
</div>

@foreach (var equipment in Model.Equipments)
{
    <div class="modal fade" id="editEquipmentModalLabel-@equipment.Id" tabindex="-1" role="dialog" aria-labelledby="editEquipmentModalLabel-@equipment.Id" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                @{
                    var model1 = new EquipmentForm
                    {
                        Equipment = equipment,
                        EquipmentTypes = Model.EquipmentTypes
                    };
                }
                @Html.Partial("EquipmentForm", model1)
            </div>
        </div>
    </div>
}