@{
    ViewBag.Title = "Pradžia";
}

@section PageHeaderTitle {
    <h2>Techninės įrangos rezervacija</h2>
}

<div class="row">
    <div class="col-md-4 col-sm-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Pranešimai</h3>
            </div>
            <div class="content">
                <p>some content</p>
            </div>
            <!-- @Html.ActionLink("Pranešimai", "Index", "Notifications") -->
        </div>
    </div>
    <div class="col-md-4 col-sm-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Rezervacijos</h3>
            </div>
            <div class="content">
                <p>some content</p>
            </div>
            <!-- @Html.ActionLink("Rezervacijos", "Index", "Rezervations") -->
        </div>
    </div>
    <div class="col-md-4 col-sm-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Kalendorius</h3>
            </div>
            <div class="content">
                <p>some content</p>
            </div>
            <!-- @Html.ActionLink("Kalendorius", "Index", "Calendar") -->
        </div>
    </div>
    @if (User.IsInRole("admin"))
    {
        <div class="col-md-4 col-sm-12 add-margin">
            <div class="content-block">
                <div class="title">
                    <h3>Įranga</h3>
                </div>
                <div class="content">
                    <p>some content</p>
                </div>
                <!-- @Html.ActionLink("Įranga", "Index", "Equipments") -->
            </div>
        </div>
        <div class="col-md-4 col-sm-12 add-margin">
            <div class="content-block">
                <div class="title">
                    <h3>Įrangos tipai</h3>
                </div>
                <div class="content">
                    <p>some content</p>
                </div>
                <!-- @Html.ActionLink("Įrangos tipai", "Index", "EquipmentTypes") -->
            </div>
        </div>
    }
    <div class="col-md-4 col-sm-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Įrangos komplektai</h3>
            </div>
            <div class="content">
                <p>some content</p>
            </div>
            <!-- @Html.ActionLink("Įrangos komplektai", "Index", "EquipmentBundles") -->
        </div>
    </div>
</div>