@using Microsoft.AspNet.Identity
@model HardwareReservationAndAccountingSystem.ViewModels.ReservationPage
@{
    ViewBag.Title = "Rezervacijos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageHeaderTitle {
    <h2>Rezervacijos</h2>
}

@section PageHeaderSubNavLinks {
    @Html.ActionLink("Visos rezervacijos", "Index", "Reservations", null, new { @class = "btn btn-dark" })
    <button class="btn btn-primary">Eksportuoti</button>
    <button class="btn btn-success">Nauja</button>
}

@section PageHeaderFilters {
    <div class="page-filters">
        <div class="filters">
            <p class="filter-type-text">Filtruoti rezervacijas:</p>
            <div class="filter">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Būsena
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="filter">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sukūrimo laikas
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="filter">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Rezervavimo laikotarpis
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="filter">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Užsakovas
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="filter">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Įranga
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="filter">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Įrangos komplektas
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="filter">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Renginys
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="view-mode">
            <p class="filter-type-text">Peržiūros būdas:</p>
            <button class="btn btn-light mode active">
                <i class="fas fa-table"></i>
                Lentelė
            </button>
            <button class="btn btn-light mode">
                <i class="far fa-calendar-alt"></i>
                Kalendorius
            </button>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Rezervacijos</h3>
            </div>
            <div class="content">
                some text
            </div>
        </div>
    </div>
</div>

@*<div class="hidden-events-data">
    @foreach (var reservation in Model.Reservations)
    {
        if (User.IsInRole("admin") || reservation.UserId == User.Identity.GetUserId())
        {
            <div class="reservation-data-item"
                 data-reservation-id="@reservation.Id"
                 data-from="@reservation.ReservedFrom"
                 data-to="@reservation.ReservedTo"
                 data-bundle="@reservation.EquipmentBundle.Title">
            </div>
        }
    }
</div>*@

@*<div class="row">
    <div id="calendar"></div>
</div>*@

@*<div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            @using (Html.BeginForm("Save", "Rezervations"))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Rezervacijos kūrimas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Reservation.ReservedFrom)
                        @Html.TextBoxFor(x => x.Reservation.ReservedFrom, new { id = "dateFrom", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Reservation.ReservedTo)
                        @Html.TextBoxFor(x => x.Reservation.ReservedTo, new { id = "dateTo", @class = "form-control" })
                    </div>
                    @*<div class="form-group">
                            <label for="formGroupExampleInput">Pasirinkite įrangos komplektą, kuris yra laisvas jūsų norimu laiku</label>
                            <input type="text" class="form-control" placeholder="Filtruoti duomenis">
                        </div>*@
                    @*<div class="form-group">
                        <div class="equipment-list">
                            <div class="row equipment-or-bundle-list-with-selection">
                                <div class="col-md-12">
                                    <p>Pasirinkite komplektą</p>
                                </div>
                                @foreach (var bundle in Model.EquipmentBundles)
                                {
                                    <div class="col-md-4 column">
                                        <div class="equipment-or-bundle-list-item-with-selection radio">
                                            <input type="radio" name="equipmentBundles" value="@bundle.Id" />
                                            <img src="http://via.placeholder.com/200x200" />
                                            <p>@bundle.Title</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Uždaryti</button>
                    <button type="submit" class="btn btn-primary">Išsaugoti</button>
                </div>
            }

        </div>
    </div>
</div>*@

@*<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rezervacija</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="title"></p>
                <p class="from"></p>
                <p class="to"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Uždaryti</button>*@
@*                <button type="button" class="btn btn-primary">Išsaugoti</button>*@
          @*  </div>
        </div>
    </div>
</div>*@



