@using Microsoft.AspNet.Identity
@model HardwareReservationAndAccountingSystem.ViewModels.ReservationPage
@{
    ViewBag.Title = "Rezervacijos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageHeaderTitle {
    <h2>Rezervacijos</h2>
}

@section PageHeaderSubNavLinks {
    <ul>
        <li class="active"><a href="#">Visos rezervacijos</a></li>
        @*<li><a href="#">Laukiančios patvirtinimo</a></li>
        <li><a href="#">Aktyvios</a></li>
        <li><a href="#">Baigtos</a></li>*@
    </ul>
}

@section PageHeaderFilters {
    <div class="page-filters">
        <input type="text" placeholder="Filtruoti duomenis" class="form-control" />
    </div>
}

<div class="row">
    <div id="calendar"></div>
</div>

<div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            @using (Html.BeginForm("Save", "Rezervations"))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Rezervacijos kūrimas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Reservation.ReservedFrom)
                        @Html.TextBoxFor(x => x.Reservation.ReservedFrom, new {id = "dateFrom", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Reservation.ReservedTo)
                        @Html.TextBoxFor(x => x.Reservation.ReservedTo, new { id = "dateTo", @class = "form-control" })
                    </div>
                    @*<div class="form-group">
                            <label for="formGroupExampleInput">Pasirinkite įrangos komplektą, kuris yra laisvas jūsų norimu laiku</label>
                            <input type="text" class="form-control" placeholder="Filtruoti duomenis">
                        </div>*@
                    <div class="form-group">
                        <div class="equipment-list">
                            <div class="row equipment-or-bundle-list-with-selection">
                                <div class="col-md-12">
                                    <p>Pasirinkite komplektą</p>
                                </div>
                                @foreach (var bundle in Model.EquipmentBundles)
                                {
                                    <div class="col-md-4 column">
                                        <div class="equipment-or-bundle-list-item-with-selection radio">
                                            <input type="radio" name="equipmentBundles" value="@bundle.Id" />
                                            <img src="http://via.placeholder.com/200x200"/>
                                            <p>@bundle.Title</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Uždaryti</button>
                    <button type="submit" class="btn btn-primary">Išsaugoti</button>
                </div>
            }

        </div>
    </div>
</div>