@using HardwareReservationAndAccountingSystem.Models
@using HardwareReservationAndAccountingSystem.ViewModels
@model HardwareReservationAndAccountingSystem.ViewModels.EquipmentBundleDetails
@{
    ViewBag.Title = "Įrangos komplektas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageHeaderTitle {
    <h2>Įrangos komplektas: @Model.EquipmentBundle.Title</h2>
}

@section PageHeaderSubNavLinks {
    <ul>
        <li>@Html.ActionLink("Visi įrangos komplektai", "Index", "EquipmentBundles")</li>
        @if (User.IsInRole("admin"))
        {
            <li><a href="#" data-toggle="modal" data-target="#newEquipmentBundleModal">Naujas komplektas</a></li>
            <li><a href="#" data-toggle="modal" data-target="#editEquipmentBundleModal">Atnaujinti informaciją</a></li>
        }
    </ul>
}

<div class="row">
    <div class="col-md-12 add-margin">
        <div class="content-block bigger-block one-bundle">
            <div class="row">
                <div class="col-md-8">
                    <h2>@Model.EquipmentBundle.Title</h2>
                    <p>
                        @Model.EquipmentBundle.Description
                    </p>
                </div>
                <div class="col-md-4 gallery">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="http://via.placeholder.com/200x200" data-lightbox="bundle-gallery" data-title="Nuotrauka">
                                <img src="http://via.placeholder.com/200x200" alt="Nuotrauka">
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="http://via.placeholder.com/200x200" data-lightbox="bundle-gallery" data-title="Nuotrauka">
                                <img src="http://via.placeholder.com/200x200" alt="Nuotrauka">
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="http://via.placeholder.com/200x200" data-lightbox="bundle-gallery" data-title="Nuotrauka">
                                <img src="http://via.placeholder.com/200x200" alt="Nuotrauka">
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="http://via.placeholder.com/200x200" data-lightbox="bundle-gallery" data-title="Nuotrauka">
                                <img src="http://via.placeholder.com/200x200" alt="Nuotrauka">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block bigger-block one-bundle equipment-list-block">
            <div class="row">
                <div class="col-md-10">
                    <h2>Įrangos sąrašas</h2>
                </div>
            </div>

            <div class="row equipment-list">
                @if (Model.EquipmentBundle.Equipments.Any())
                {
                    foreach (var equipment in Model.EquipmentBundle.Equipments)
                    {
                        <div class="col-md-4">
                            <div class="equipment">
                                @if (User.IsInRole("admin"))
                                {
                                    <div class="remove-equipment-item-icon">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#removeEquipmentModel-@equipment.Id">
                                            <i class="far fa-times-circle"></i>
                                        </a>
                                    </div>
                                }
                                <img src="http://via.placeholder.com/200x200" alt="Nuotrauka">
                                <h3>@equipment.Title</h3>
                                <p>
                                    @if (equipment.Description.Length > 170)
                                    {
                                        @equipment.Description.Substring(0, 170)<text>...</text>
                                    }
                                    else
                                    {
                                        @equipment.Description
                                    }
                                </p>
                            </div>
                        </div>
                    }
                }
                @if (User.IsInRole("admin"))
                {
                    <div class="col-md-4">
                        <div class="equipment add-new-equipment">
                            <a href="#" data-toggle="modal" data-target="#moreEquipmentModal">
                                <i class="fas fa-plus-circle"></i>
                                <h3>Pridėkite daugiau įrangos</h3>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block bigger-block one-bundle">
            <h2>Užimtumo kalendorius</h2>
            <div id="calendar" class="calendar-without-background"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="newEquipmentBundleModal" tabindex="-1" role="dialog" aria-labelledby="newEquipmentBundleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @Html.Partial("EquipmentBundleForm", new EquipmentBundle())
        </div>
    </div>
</div>

<div class="modal fade" id="editEquipmentBundleModal" tabindex="-1" role="dialog" aria-labelledby="editEquipmentBundleModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @Html.Partial("EquipmentBundleForm", Model.EquipmentBundle)
        </div>
    </div>
</div>

<div class="modal fade" id="moreEquipmentModal" tabindex="-1" role="dialog" aria-labelledby="moreEquipmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @Html.Partial("EquipmentListForAdding", Model)
        </div>
    </div>
</div>

<div class="modal fade" id="equipmentBundleCalendarModal" tabindex="-1" role="dialog" aria-labelledby="equipmentBundleCalendarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            
            @using (Html.BeginForm("Save", "Rezervations"))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Rezervacijos kūrimas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Reservation.ReservedFrom)
                        @Html.TextBoxFor(x => x.Reservation.ReservedFrom, new { id = "dateFrom", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Reservation.ReservedTo)
                        @Html.TextBoxFor(x => x.Reservation.ReservedTo, new { id = "dateTo", @class = "form-control" })
                    </div>
                    <input type="hidden" name="equipmentBundles" value="@Model.EquipmentBundle.Id" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Uždaryti</button>
                    <button type="submit" class="btn btn-primary">Išsaugoti</button>
                </div>
            }
           
        </div>
    </div>
</div>

@foreach (var equipment in Model.EquipmentBundle.Equipments)
{
    <div class="modal fade" id="removeEquipmentModel-@equipment.Id" tabindex="-1" role="dialog" aria-labelledby="removeEquipmentModel-@equipment.Id" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                @{
                    var removeViewModel = new RemoveEquipmentFromBundle
                    {
                        EquipmentBundle = Model.EquipmentBundle,
                        Equipment = equipment
                    };
                }

                @Html.Partial("RemoveEquipmentForm", removeViewModel)
            </div>
        </div>
    </div>
}