<div class="logo">
    <h1>@Html.ActionLink("Techninės įrangos rezervacija", "Index", "Home")</h1>
</div>

<div class="profile">
    <img src="http://via.placeholder.com/120x120" alt="Profile picture" />
    <p>Vardas Pavardenis</p>
</div>

<div class="navbar-links">
    <ul class="first-level">
        <li class="active">
            @Html.ActionLink("Pradžia", "Index", "Home")
        </li>
        <li>
            @Html.ActionLink("Pranešimai", "Index", "Notifications")
        </li>
        <li>
            @Html.ActionLink("Rezervacijos", "Index", "Rezervations")
        </li>
        <li>
            @Html.ActionLink("Kalendorius", "Index", "Calendar")
        </li>
        <li>
            <a href="#">Įranga</a>
        </li>
        <li>
            <a href="#">Įrangos komplektai</a>
        </li>
        @*<li>
            <a href="#">Sistemos nustatymai</a>
        </li>*@
    </ul>
</div>

<footer>
    <p>Visos teisės saugomos &copy; @DateTime.Now.Year</p>
</footer>